<% include partials/header %>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="container">
      <div class="container-content">
        <p>
          Family owned and operated for over 35 years, the one and only Santo's
          Italian Restaurant is in Middleburg Heights, a southwest suburb of Cleveland,
          Ohio. We are conveniently located in the Briarcliff Plaza at 7565 Pearl Road
          near the Interstate 71 -Pearl Road exit. Whether alone or with the entire
          family, stop by and be our guests in our comfortably decorated dining room.
          All of us at Santo's Italian Restaurant hope you and your family enjoy
          your dining experience as much as our family enjoys having you as our guests.
          We would be happy to assist you with any of your upcoming catering needs.
          Give us a call or check out the <a href="/catering">Catering</a> menu for more
          info.
        </p>
        <iframe width="560" height="315"
        src="https://www.youtube.com/embed/hnN1vpSMIs0?rel=0" frameborder="0"
        gesture="media" allow="encrypted-media" allowfullscreen></iframe>

        <% include partials/footer %>
      </div>
    </div>
  </body>
</html>
