<% include partials/header %>

    <div class="container-background">
      <div class="container-content">
        <div>
          <img class="menu-style" src="/img/menu1.jpg"></img>
          <img class="menu-style" src="/img/menu2.jpg"></img>
        </div>
        <div>
          <img src="/img/menu3.jpg"></img>
          <img src="/img/menu4.jpg"></img>
        </div>
        <% include partials/footer %>
      </div>
    </div>
  </body>
</html>
