  <footer>
    <ul>
      <li>Santo's Italian Restaurant</li>
      <li>|</li>
      <li>440.234.6480</li>
      <li>|</li>
      <li>7565 Pearl Rd, Middleburg Heights, OH</li>
      <li>|</li>
      <li><a href="#"><i class="facebook square icon"></i></a></li>
    </ul>
  </footer>
